@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-manrope: "Manrope", sans-serif;
  
  --surface: #f9f9f8;
  --surface-container-low: #f4f4f3;
  --surface-container: #ebecec;
  --surface-container-high: #e1e3e4;
  --surface-container-highest: #d7d9da;
  --surface-container-lowest: #ffffff;
  --surface-bright: #fbfbfb;
  --surface-variant: #e1e3e4;
  
  --on-surface: #1a1c1c;
  --on-surface-variant: #494a4a;
  
  --primary: #00464a;
  --primary-container: #006064;
  
  --tertiary: #ffdeac;
  --tertiary-fixed: #ffdeac;
  --on-tertiary-fixed: #241a0a;
  
  --outline: #797c7c;
  --outline-variant: #bec8c9;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--surface);
  color: var(--on-surface);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-noto-serif);
}
